@tailwind base;
@tailwind components;
@tailwind utilities;

    
input.accordion {
    display: none;
    padding: 0px;
    margin: 0px;
}

label.accordion {
    display: inline-block;    
    cursor: pointer;
    transition: ease .5s;
    padding: 0px;
    margin: 0px;
}

label.accordion:hover {
    background: #4E8774;
}

.comment {
    padding-left: 0px;
}

input.accordion + label.accordion + .comment {
    display: none;
}

input.accordion:checked + label.accordion + .comment {
    display: block;
}


pre {
    font-family: monospace;
    white-space: normal
}

pre h1 {
   display: block;
    counter-increment: line;
}

pre div h1 {
    display: block;
     counter-increment: line;
 }
 

pre h1:before {
    content: counter(line);
    display: inline-block;
    color: #888;
    margin-right: 20px;
    margin-left: 10px;
    width: 20px;
    text-align: right;
}